body {
  background-color: rgb(14, 12, 12);
  color: rgb(247, 222, 222);
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgb(247, 222, 222);
}

a:hover {
  color: rgba(130, 71, 218, 0.983);
}
